<h2><%= @animal.name %></h2>

<h3>Sightings:</h3>
<ol>
  <% @animal.sightings.each do |sighting| %>
    <li>,<a href="/sightings/<%=sighting.id%>"><%= sighting.date %>, <%= sighting.lat %>:<%= sighting.long %></a></li>
  <% end %>
</ol>

<h3>Record new sighting:</h3>
<form action="/<%= @animal.id %>" method="post">
  <label for="sighting_date">Date</label>
  <input id="sighting_date" name="sighting[date]" type="date" value="<%=@sighting.date %>">
  <label for="sighting_lat">Latitude</label>
  <input id="sighting_lat" name="sighting[lat]" type="text" value="<%=@sighting.lat %>">
  <label for="sighting_long">Longitude</label>
  <input id="sighting_long" name="sighting[long]" type="text" value="<%=@sighting.long %>">
  <button>Add sighting</button>
</form>

<p><a href='/'>Back to Animal Tracker</a></p>

<h3> Edit species type</h3>

<% if @animal.errors.any? %>
  <h3>Please fix this error:<h3>
    <ul>
      <% @animal.errors.full_messages.each do |message| %>
      <li><%=message %></li>
      <%end%>
    </ul>
<%end%>

<form action="/<%= @animal.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="animal_species">Species</label>
  <input id="animal_species" name="animal[name]" type="text" value="<%@animal.name %>">
  <button> Change species type</button>
</form>

<p><a href="/<%=@animal.id %>"
  data-confirm="Are you sure"
  data-method="Delete"
  rel="nofollow">Destroy Species</a></p>
